{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card summary-card card-receitas h-100">
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-auto">
                            <h6 class="card-title">Receitas</h6>
                            <h3 id="total-receitas" class="card-text">R$ 0,00</h3>
                        </div>
                        <div class="align-self-end">
                             <i class="fas fa-arrow-up fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card summary-card card-despesas h-100">
                <div class="card-body">
                     <div class="d-flex flex-column h-100">
                        <div class="mb-auto">
                            <h6 class="card-title">Despesas</h6>
                            <h3 id="total-despesas" class="card-text">R$ 0,00</h3>
                        </div>
                        <div class="align-self-end">
                             <i class="fas fa-arrow-down fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card summary-card card-saldo h-100">
                <div class="card-body">
                     <div class="d-flex flex-column h-100">
                        <div class="mb-auto">
                            <h6 class="card-title">Saldo</h6>
                            <h3 id="saldo-total" class="card-text">R$ 0,00</h3>
                        </div>
                        <div class="align-self-end">
                             <i class="fas fa-balance-scale fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Evolução Mensal</h6>
                </div>
                <div class="card-body">
                    <div id="grafico-mensal" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Distribuição por Categoria</h6>
                </div>
                <div class="card-body">
                    <div id="grafico-categorias" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}